---
import PhoneReveal from './PhoneReveal.astro';
---

<div class="bg-dark text-white/70 text-xs py-2 tracking-wide hidden sm:block">
  <div class="container flex justify-between items-center">
    <span class="flex items-center gap-1">
      LiveRoof Ontario &nbsp;|&nbsp; Mt. Brydges, ON &nbsp;&middot;&nbsp;
      <PhoneReveal number="5196715777" />
    </span>
  </div>
</div>
