---
---

<div class="bg-dark text-white/70 text-xs py-2 tracking-wide hidden sm:block">
  <div class="container flex justify-between items-center">
    <span>LiveRoof Ontario &nbsp;|&nbsp; Mt. Brydges, ON &nbsp;&middot;&nbsp; (519) 671-5777</span>
    <div class="flex gap-5">
      <a href="#" class="text-white/70 hover:text-green transition-colors">Catalog</a>
      <a href="/faq" class="text-white/70 hover:text-green transition-colors">FAQ's</a>
      <a href="/careers" class="text-white/70 hover:text-green transition-colors">Careers</a>
      <a href="#" class="text-white/70 hover:text-green transition-colors">Privacy</a>
    </div>
  </div>
</div>
